
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
</head>
<body>
    <div> 
        This site doesn't get or stores any information from Facebook and only uses a Facebook plugin to allow external login using Facebook API.
    </div>
</body>
</html>
